<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-icon name="chevron-back-outline">Black</ion-icon> -->
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>Place Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher mode="md" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-button size="default" color="dark" [routerLink]="['addplace']"
        >สถานที่</ion-button
      >
      <ion-button size="default" color="dark" [routerLink]="['addcategory']"
        >ประเภท</ion-button
      >
      <ion-button size="default" color="dark" [routerLink]="['updatefare']"
        >ค่าโดยสาร</ion-button
      >
    </ion-fab-list>
  </ion-fab>
  <div id="container">
    <form action="" [formGroup]="form_planning">
      <ion-item color="">
        <ion-label>ประเภท</ion-label>
        <ion-select
          type="md"
          formControlName="categoryNo"
          interface="action-sheet"
          (ionChange)="getPlaceCategory()"
        >
          <ion-select-option
            *ngFor="let item of categoryData"
            [value]="item.categoryNo"
            >{{item.categoryTH}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-searchbar
        [formControl]="key"
        (ionChange)="getPlaceSearch()"
      ></ion-searchbar>
    </form>
    <ion-item-sliding *ngFor="let item of place ;let i = index">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            *ngIf="item.img ==''"
            src="https://i.picsum.photos/id/496/200/200.jpg?hmac=Asy6Q8R1Y6wu0nrV_ymC5JGqktniSVnGqoYvNcHdzBI"
          />
          <img
            *ngIf="item.img !=''"
            src="http://cpe.rmuti.ac.th/project/traveling_planner/api/img/{{item.img}}"
          />
        </ion-thumbnail>

        <ion-label>
          <h2>{{item.placeTH}}</h2>
          <h3>{{item.categoryTH}}</h3>
          <p>{{item.detail}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option
          style="color: #ffffff;"
          (click)="openModal();addItem(item)"
          color="warning"
        >
          <ion-icon slot="start" name="color-wand"></ion-icon>
          แก้ไข
        </ion-item-option>
        <ion-item-option (click)="delPlace(item.placeNo)" color="danger">
          <ion-icon slot="start" name="trash-bin"></ion-icon>

          ลบ
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>
