#container {
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  position: absolute;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-title {
  font-size: 20px;
  font-weight: 400;
}
.lg {
  font-size: 100px;
  margin-top: 10%;
  color: #4c8dff;
}
#map_canvas {
  height: 90%;
}
