<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-icon name="chevron-back-outline">Black</ion-icon> -->
      <ion-back-button
        (click)="closePlan()"
        [routerLink]="['/home/planning']"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Resulte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content mode="md" [fullscreen]="false">
  <div id="container">
    <div class="detail">
      <div class="box left">
        <div class="one"><ion-icon name="car-sport-sharp"></ion-icon></div>
        <div class="two"><h3 style="color: white;">{{list[2]}} กม.</h3></div>
      </div>
      <div class="box right">
        <div class="one"><ion-icon name="logo-usd"></ion-icon></div>
        <div class="two" *ngIf="list != []">
          <h3 style="color: white;">{{list[1]}} บาท</h3>
        </div>
      </div>
    </div>
    <div *ngFor="let item of list[0] ;let i = index">
      <ion-card>
        <ion-item>
          <ion-thumbnail class="img" slot="start">
            <img
              src="https://i.picsum.photos/id/678/200/200.jpg?hmac=_vsd4KulLF2Ykh1bkjYgpfkfWJoqhDPrzIbvw_pHhsQ"
            />
          </ion-thumbnail>
          <ion-label>
            <h2>{{item.placeTH}}</h2>
            <h3>{{item.categoryTH}}</h3>
            <p>{{item.detail}}</p>
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-icon
        *ngIf="i+1 != list[0].length "
        style="font-size: 30px; color: #4c8dff;"
        name="arrow-down-outline"
      ></ion-icon>
    </div>
  </div>
</ion-content>
<ion-footer>
  <section class="full-width">
    <ion-button
      [routerLink]="['/home/map']"
      mode="ios"
      expand="block"
      color="primary"
      >Get Route</ion-button
    >
  </section>
</ion-footer>
