$bg: #ebebeb;
$bg2: #ffffff;

#container {
  text-align: center;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
}

ion-content ion-toolbar {
  --background: translucent;
}

.ic {
  font-size: 25px;
}
.tl {
  font-size: 20px;
  font-weight: bold;
}
.bt {
  font-size: 17px;
}
.lg {
  font-size: 100px;
  margin-top: 10%;
  color: #4c8dff;
}
