<ion-header mode="ios" translucent>
  <ion-toolbar>
    <ion-title>Edit Place</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <form action="" [formGroup]="form_place">
    <ion-card>
      <img
        *ngIf="this.form_place.controls['img'].value =='' && !imgURL"
        hheight="300"
        src="https://i.picsum.photos/id/623/400/400.jpg?hmac=cWA8OevZRMt2Z__hKLPY6UMyf_YJfmXYsxwBZ6bf7wA"
      />
      <img
        *ngIf="this.form_place.controls['img'].value !='' && !imgURL"
        height="300"
        src="http://cpe.rmuti.ac.th/project/traveling_planner/api/img/{{this.form_place.controls['img'].value}}"
      />
      <img [src]="imgURL" height="300" *ngIf="imgURL" />
      <ion-card-header>
        <ion-item>
          <ion-label>รูปภาพ :</ion-label>
          <ion-input
            type="file"
            accept="image/*"
            id="upload"
            (change)="onFileSelected($event)"
          ></ion-input>
        </ion-item>
        <ion-item color="">
          <ion-label>ประเภท</ion-label>
          <ion-select
            type="md"
            formControlName="categoryNo"
            interface="action-sheet"
          >
            <ion-select-option
              *ngFor="let item of categoryData"
              [value]="item.categoryNo"
              >{{item.categoryTH}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label>ชื่อสถานที่</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>TH :</ion-label>
          <ion-input formControlName="placeTH"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>EN :</ion-label>
          <ion-input formControlName="placeEN"></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>รายละเอียด</ion-label>
          <ion-textarea
            formControlName="detail"
            rows="4"
            cols="50"
            placeholder="รายละเอียดของสถานที่ท่องเที่ยว..."
          ></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<ion-footer>
  <section class="full-width">
    <ion-button
      mode="ios"
      expand="block"
      color="primary"
      (click)="setPlaceEdit()"
      >Save</ion-button
    >
  </section>
</ion-footer>
