<ion-content mode="ios" [fullscreen]="true">
  <div id="container">
    <div class="box" [routerLink]="['planning']">
      <ion-icon name="book-outline" class="ic"></ion-icon>
      <div class="tl">
        <span>Planning</span>
      </div>
    </div>
    <div class="box" [routerLink]="['search']">
      <ion-icon name="search" class="ic"></ion-icon>
      <div class="tl">
        <span>Search</span>
      </div>
    </div>
    <div class="box" [routerLink]="['map']">
      <ion-icon name="navigate-circle-outline" class="ic"></ion-icon>
      <div class="tl">
        <span>Map</span>
      </div>
    </div>
    <div class="box" [routerLink]="['admin']">
      <ion-icon name="person-outline" class="ic"></ion-icon>
      <div class="tl">
        <span>Admin</span>
      </div>
    </div>
    <div class="box" [routerLink]="['contact']">
      <ion-icon name="call-outline" class="ic"></ion-icon>
      <div class="tl">
        <span>Contact</span>
      </div>
    </div>
  </div>
</ion-content>
