<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" [fullscreen]="true">
  <div id="container">
    <div class="head">
      <img src="assets/img/LOGO.png" alt="" />
    </div>
    <div class="main">
      <p>Rajamangala University of Technology Isan</p>
      <p>Faculty of Engineering and Architecture</p>
      <p>Computer Engineering</p>
    </div>
  </div>
</ion-content>
<footer id="footer">
  <p class="copy">Copyright © 2020 Traveling Planner</p>
</footer>
